__pycache__/
*.pyc
.env 
.pytest_cache/

/pc_app/venv/
/pc_app/dist/
/pc_app/build/
/pc_app/*.spec
/pc_app/assets/

/android_app/.gradle/
/android_app/build/
/android_app/local.properties
/android_app/.idea/
/android_app/.cxx/
*iml


